# 默认源：淘宝镜像（公共包加速）
registry=https://registry.npmmirror.com/

# 公司私服：@yzcfront 范围
@yzcfront:registry=https://nexus.uzhicai.com/repository/npm-group/

# pnpm 行为
auto-install-peers=true
strict-peer-dependencies=false
