*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}


[deposit-app] *::before,
[deposit-app] *::after  {
    font-weight: normal;
    font-family: 'vant-icon';
}

[deposit-app] *{
    font-weight: normal;
    font-family:
        /* 嵌入的PingFang字体 */
        "PingFang SC",
        /* 系统字体 */
        system-ui,
        /* 苹果系统 */
        -apple-system,
        /* 如果本地有PingFang字体则使用 */
        "PingFang",
        /* 安卓系统 */
        "Source Han Sans",
        /* Windows系统 */
        "Microsoft YaHei",
        /* 其他情况下的默认字体 */
        sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    // background: rgb(179, 177, 177);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 8px;
}

.info-btn {
    border-color: var(--eu-color-primary) !important;
    color: var(--eu-color-primary) !important;
}

// transition左右切换动画
.slide-left-enter-active,
.slide-right-enter-active {
    transition: all 0.3s ease-out;
}
.slide-left-leave-active,
.slide-right-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-left-enter-from,
.slide-left-leave-to,
.slide-right-enter-from,
.slide-right-leave-to {
    opacity: 0;
}
.slide-left-enter-from,
.slide-right-leave-to {
    transform: translateX(50px);
}
.slide-left-leave-to,
.slide-right-enter-from {
    transform: translateX(-50px);
}